*{
    box-sizing: border-box;
}
:root {
    --primary-color: #0463fa;
    --secondary-color: #eff5ff; 
    --text-color: #a78ea0;
}
body{
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
}
h2{
    font-size: 40px;
    font-weight: 600;
}
.top-banner{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 4rem;
    background-color: var(--secondary-color);
    color: var(--text-color);
    padding-left: 3rem;
    padding-right: 3rem;
}
.top-banner svg{
    color: var(--primary-color);
}
.top-banner span{
    margin-right: 25px;
}
#left{
    display: flex;
    align-items: center;
}
.social-links svg{
    background-color: white;
    font-size: 20px;
    border-radius: 50px;
    padding: 10px;
}
.logo{
    color: var(--primary-color);
    font-size: 40px;
    font-weight: bold;
}
.nav{
    padding-left: 3rem;
    display: flex;
    height: 5rem;
    align-items: center;
    justify-content: space-between;
    background-color: white;
}
header{
    position: sticky;
    position: -webkit-sticky;
    top: 0;
}
.navbar{
    font-size: 18px;
    position: relative;
}
.dropdown-menu{
    display: none !important;
    padding: 0;
    position: absolute;
    background-color: white;
}
.navbar ul{
    list-style: none;
    display: flex;
    gap: 2rem;
}
.navbar ul a{
    text-decoration: none;
    transition: all .5 ease-in-out;
}
.navbar ul li{
    text-decoration: none;
    transition: all .5 ease-in-out;
}
.navbar ul a:hover{
    color: var(--primary-color);
}
.navbar ul li:hover{
    color: var(--primary-color);
    cursor: pointer;
}
.navbar ul li:hover .dropdown-menu{
    display: block !important;
}
.special-button{
    text-align: center;
    width: 250px;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    
}
.btn{
    font-size: 18px;
    background-color: var(--primary-color);
    transition: all .3s ease-in-out;
}
.btn:hover{
    background-color: #0354d5;
    cursor: pointer;
}
.special-button a{
    color: white;
    text-decoration: none;
}
.container{
    margin: auto;
    padding-right: 15px;
    padding-left: 15px;
}
.about{
   /* display: flex; 
     flex-direction: row; */
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    padding-top: 50px;
}

.right-hero{
    padding-left: 30px;
}

.section-name{
    border: #c7dcfb solid 1px;
    padding: 5px 25px 5px 25px;
    border-radius: 25px;
    color: var(--text-color);
}

.right-hero p, .right-hero span{
    color: var(--text-color);
}

.right-hero svg{
    color: var(--primary-color); 
    margin-right: 15px;
    padding-top: 10px;
}

.right-hero button{
    padding: 20px 25px 20px 25px;
    width: 200px;
    font-size: 15px;
    color: white;
    background-color: var(--primary-color);
    border: none;
    margin-top: 20px;
    border-radius: 50px;
}
.about .left-hero img:nth-child(1){
    width: 400px;
    border-radius: 10px;
    margin-left: 100px;
}
.about .left-hero img:nth-child(2){
    width: 300px;
    border-radius: 10px;
    border: white solid 10px;
    margin-top: -100px;
}
.section-header{
    text-align: center;
    margin-top: 50px;
}
.cards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 25px;;
}
.card{
    background-color: var(--secondary-color);
    padding: 40px;
    border-radius: 20px;
    transition: all 1s ease;
}
.card:hover{
    transform: translateY(-15px);
    -webkit-box-shadow: 0px 21px 26px -18px rgba(0,0,0,0.27); 
    box-shadow: 0px 21px 26px -18px rgba(0,0,0,0.27);
}
.card:hover .read-more{
    width: 150px;
}
.card-icon{
    background-color: white;
    color: var(--primary-color);
    font-size: 25px;
    padding: 20px;
    border-radius: 50%;
}
.read-more{
    width: 40px;
    height: 40px;
    overflow: hidden;
    white-space: nowrap;
    background-color: white;
    display: flex;
    flex-direction: row;
    gap: 10px;
    align-items: center;
    padding-left: 12px;
    border-radius: 20px;
    transition: all .5s ;
    cursor: pointer;
}

.read-more svg{
    font-size: 20px;
    color: var(--primary-color);
}
.features{
    display: grid;
    width: 100%;
    overflow: hidden;
    min-height: 600px;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
    margin-top: 120px;
}
.section-header{
    text-align: center;
}
.left-her{
    background-color: var(--primary-color);
    color: white;
    padding: 50px 30px 50px 20%;
}
.special{
    color: white;
}
.right-her img{
    object-fit: contain;
    width: 100%;
}
.features-grid{
    display: flex;
    row-gap: 20px;
    flex-wrap: wrap;
}
.feature{
    width: 50%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.appointment{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(500px, 1fr))
}
.left-sec{
    padding-right: 50px;
}
.left-sec p, .info span{
    color: var(--text-color);
}
.super-box{
    background-color: var(--secondary-color);
    border-radius: 10px;
    display: flex;
    gap: 40px;
    margin-bottom: 20px;
    padding: 30px 0px 30px 40px;
}
.info h4{
    margin-top: 5px;
}

form{
    background-color: var(--secondary-color);
    border-radius: 10px;
    padding: 80px 40px 80px 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(47%, 1fr));
    row-gap: 10px;
    column-gap: 10px;
}
input{
    color: var(--text-color);
    border: none;
    height: 50px;
    border-radius: 5px;
}
option, select{
    color: var(--text-color);
    border: none;
    height: 50px;
}

textarea {
    resize: vertical; 
    border: none;
    grid-column: span 2; 
}

input[type="submit"]{
    background-color: var(--primary-color);
    margin-top: 10px;
    color: white;
    grid-column: span 2; 
}
@media (max-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 768px){
    .container{
        width: 750px;
    }
}
@media (min-width: 992px){
    .container{
        width: 970px;
    }
}
@media (min-width: 1400px){
    .container{
        width: 1470px;
    }
    .cards{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(400px, 1fr))
    }
}