html{
    height: 100%;
}
body{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: black;
}
html, body {
    margin:0px;
}
